* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.App {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    background-color: #0e8392;
    color: rgb(0, 0, 0);
    width: 400px;
    height: 60px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}



.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.contenedor-principal {
    height: 550px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}